@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #61b6eb;
}

body::-webkit-scrollbar-track {
  background: #eee;
}

body::-webkit-scrollbar-thumb {
  background: #686a6b;
  border-radius: 100px;
}

.dark .hljs {
  color: white;
  background-color: transparent;
}

@layer components {
  code {
    @apply leading-relaxed;
  }
  .markdown-body {
    @apply mx-auto w-full;
  }
}
